.share-follow {
  display: inline-flex;

  a {
    margin-right: 5px;
    padding: 0rem;
    border-radius: 0;
  }

  li {
    a {
      color: #fff;
      fill: #fff;
      border: none;

      &:hover, &:focus {
        opacity: 0.8;
        color: #fff;
      }
    }
  }

  .newsletter a {
    background: transparent;
    color: $s5;
    fill: $s5;

    .svg-icon {
      border-color: $s2;
    }
  }
  .mastodon a {
    background: #3088D4;

    .svg-icon {
      border-color: #3088D4;
    }
  }
  .diaspora a {
    background: #464646;

    .svg-icon {
      border-color: #464646;
    }
  }
  .twitter a {
    background: #1da1f2;

    .svg-icon {
      border-color: #1da1f2;
    }
  }
  .facebook a {
    background: #1877f2;

    .svg-icon {
      border-color: #1877f2;
    }
  }
  .reddit a {
    background: #FF4500;

    .svg-icon {
      border-color: #FF4500;
    }
  }
}
