<template>
  <div>
    <main>
      <section
        id="hero"
        class="d-none d-sm-flex"
        @click="$refs['prez'].scrollIntoView({ behavior: 'smooth' });"
      ></section>

      <section
        id="prez"
        ref="prez"
      >
        <b-container class="mt-sm-n5 py-5">
          <b-row class="mx-0">
            <b-col
              class="mx-auto text-center"
              lg="8"
            >
              <h1 class="mb-3">
                <img
                  alt="Mobilizon"
                  height="45"
                  :src="`${$t('baseurl')}img/logo-mbz-purple.svg`"
                />
              </h1>
              <h2 class="mt-4 mb-2">
                <span
                  v-for="(tag, index) in $t('home.intro.tags')"
                  :key="index"
                >
                  {{ tag }}
                  <span v-if="index < $t('home.intro.tags').length - 1"> ⋅ </span>
                </span>
              </h2>
              <img
                alt=""
                class="my-4"
                :src="`${$t('baseurl')}img/rose.jpg`"
              />
            </b-col>
          </b-row>
          <b-row class="mx-0">
            <b-col
              lg="4"
              class="py-4"
            >
              <h3>
                <svg-icon
                  :label="$t('home.prez.tool.title')"
                  name="tools"
                />
              </h3>
              <div v-html="$t('home.prez.tool.md')"></div>
            </b-col>
            <b-col
              lg="4"
              class="py-4"
            >
              <h3>
                <svg-icon
                  :label="$t('home.prez.alt.title')"
                  name="spa"
                />
              </h3>
              <div v-html="$t('home.prez.alt.md')"></div>
            </b-col>
            <b-col
              lg="4"
              class="py-4"
            >
              <h3>
                <svg-icon
                  :label="$t('home.prez.soft.title')"
                  name="b-fediverse"
                />
              </h3>
              <div v-html="$t('home.prez.soft.md')"></div>
            </b-col>
          </b-row>
          <b-row
            align-h="around"
            class="mx-auto my-4"
            style="max-width: 800px"
          >
            <b-col lg="5">
              <b-button
                block
                href="#what-is-mobilizon"
                size="lg"
                variant="primary my-2"
                @click.prevent="$refs['what-is-mobilizon'].scrollIntoView({ behavior: 'smooth' });"
                v-html="$t('home.prez.btn[0]')"
              />
            </b-col>
            <b-col lg="5">
              <b-button
                block
                href="https://mobilizon.org"
                size="lg"
                variant="primary my-2"
                v-html="$t('home.prez.btn[1]')"
              />
            </b-col>
          </b-row>
          <b-row class="mx-0">
            <b-col
              class="mx-auto text-center"
              lg="11"
            >
              <svg-icon
                name="camera"
                variant="disc"
              />
              <b-img
                alt=""
                class="my-4 img-thumbnail"
                fluid
                :src="`${$t('baseurl')}img/${$t('lang')}/event-tree-participation-rose-utopia.jpg`"
              />
            </b-col>
          </b-row>
        </b-container>
      </section>

      <section
        id="what-is-mobilizon"
        ref="what-is-mobilizon"
      >
        <b-container class="py-5">
          <b-row class="mx-0">
            <b-col
              lg="8"
              class="mx-auto"
            >
              <div v-html="$t('home.what.intro')"></div>

              <h3 class="mt-4">
                <svg-icon
                  :label="$t('home.what.event.title')"
                  name="calendar-day"
                />
              </h3>
              <div
                v-html="$t('home.what.event.md')"
              ></div>
              <b-img
                alt=""
                class="my-3"
                fluid
                :src="`${$t('baseurl')}img/event-creation.jpg`"
              />

              <h3 class="mt-4">
                <svg-icon
                  :label="$t('home.what.profile.title')"
                  name="theater-masks"
                />
              </h3>
              <div v-html="$t('home.what.profile.md')"></div>

              <svg-icon
                name="camera"
                variant="disc"
              />
              <b-img
                alt=""
                class="my-4 p-2 img-thumbnail"
                fluid
                :src="`${$t('baseurl')}img/${$t('lang')}/rose-boreal-settings-filled.png`"
              />

              <h3 class="mt-4">
                <svg-icon
                  :label="$t('home.what.group.title')"
                  name="users"
                />
              </h3>
              <div v-html="$t('home.what.group.md')"></div>

              <b-img
                alt=""
                class="mt-3"
                fluid
                :src="`${$t('baseurl')}img/group.jpg`"
              />
            </b-col>
          </b-row>
        </b-container>
      </section>

      <section class="quote pt-4">
        <b-container class="mb-0">
          <b-row>
            <b-col>
              <blockquote class="blockquote text-right">
                <span v-html="$t('home.quote.text')"></span>
                <footer class="blockquote-footer">
                  <a
                    :href="$t('lang') === 'fr'
                      ? $t('link.fr.blog')
                      : $t('link.en.blog')"
                    v-html="$t('home.quote.blog.text')"
                  ></a>
                </footer>
              </blockquote>
            </b-col>
          </b-row>
        </b-container>
      </section>

      <section id="mobilizon-design">
        <b-container class="py-5">
          <b-row class="mx-0">
            <b-col
              class="mx-auto"
              lg="8"
            >
              <div v-html="$t('home.design.intro')"></div>

              <h3 class="mt-4">
                <svg-icon
                  :label="$t('home.design.attention.title')"
                  name="brain"
                />
              </h3>
              <div v-html="$t('home.design.attention.md')"></div>

              <svg-icon
                name="camera"
                variant="disc"
              />
              <b-img
                alt=""
                class="my-4 img-thumbnail"
                fluid
                :src="`${$t('baseurl')}img/${$t('lang')}/group-page-member.png`"
              />

              <h3 class="mt-4">
                <svg-icon
                  :label="$t('home.design.federation.title')"
                  name="b-fediverse"
                />
              </h3>
              <div v-html="$t('home.design.federation.md')"></div>
              <b-img
                alt=""
                class="my-3"
                fluid
                :src="`${$t('baseurl')}img/realisation.jpg`"
              />

              <h3 class="mt-4">
                <svg-icon
                  :label="$t('home.design.freedom.title')"
                  name="r-copyleft"
                />
              </h3>
              <div
                class="mb-3"
                v-html="$t('home.design.freedom.md')"
              ></div>

              <div
                class="mt-4"
                v-html="$t('home.design.go')"
              ></div>
            </b-col>
          </b-row>
        </b-container>
      </section>

      <section id="who">
        <b-container class="py-5">
          <b-row class="mx-0">
            <b-col
              class="mr-auto"
              lg="8"
            >
              <h2 v-html="$t('home.who.title')"></h2>
            </b-col>
          </b-row>
          <b-row class="mx-0">
            <b-col
              class="text-center"
              lg="4"
            >
              <b-img
                alt=""
                class="my-4 py-0 px-5 p-lg-4 col-md-6 col-lg-12"
                fluid
                :src="`${$t('baseurl')}img/biglogo.png`"
              />
            </b-col>
            <b-col
              class="my-4"
              lg="8"
              v-html="$t('home.who.md')"
            />
          </b-row>
        </b-container>
      </section>

      <sfs 
        :offpay="false"
        :oto="true"
      />
    </main>
  </div>
</template>

<script>
import sfs from 'vue-fs-commons/app/components/partials/sfs/Main.vue';

export default {
  components: {
    sfs,
  },
};
</script>
