<template>
  <main>
    <section>
      <b-container>
        <b-col id="page-header">
          <h2 v-html="$t('news.title')"></h2>
          <p
            v-html="$t('news.subtitle', {
              link: 'https://framalistes.org/sympa/info/mobilizon-newsletter',
            })"
          ></p>
        </b-col>
        <b-row>
          <b-col lg="8">
            <div
              v-for="key in blocs"
              :id="key"
              :key="key"
              class="article"
            >
              <img
                alt=""
                class="img-fluid"
                :src="`${$t('baseurl')}img/news/${key}.jpg`"
              />
              <div class="content-wrapper">
                <h3>
                  <a
                    :href="`#${key}`"
                    v-html="$t(`news.blocs.${key}.title`)"
                  ></a>
                </h3>
                <p class="text-muted small">
                  <svg-icon name="calendar" />
                  <time :datetime="`20${key}`">
                    {{ `20${key}` | moment('ll') }}
                  </time>
                </p>
                <article v-html="$t(`news.blocs.${key}.text`)"></article>
              </div>
            </div>
          </b-col>
          <!-- Right column -->
          <b-col lg="4">
            <div class="sticky-top">
              <div class="bloc">
                <nav>
                  <h3 v-html="$t(`news.last-post`)"></h3>
                  <ul>
                    <li
                      v-for="key in blocs.slice(0, 5)"
                      :id="key"
                      :key="key"
                    >
                      <a
                        :href="`#${key}`"
                        v-html="$t(`news.blocs.${key}.title`)"
                      ></a>
                      <time
                        class="text-muted small"
                        :datetime="`20${key}`"
                      >
                        {{ `20${key}` | moment('ll') }}
                      </time>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="bloc">
                <h3 v-html="$t('follow')"></h3>
                <ShareAndFollow />
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </main>
</template>

<script>
import ShareAndFollow from '../partials/ShareAndFollow.vue';

export default {
  components: {
    ShareAndFollow,
  },
  computed: {
    blocs() {
      return Object.keys(this.$t('news.blocs')).sort((a, b) => new Date(`20${a}`) < new Date(`20${b}`));
    },
  },
};
</script>
